MatthewKirstyLaurenxChange4U/web/WEB-INF/wsdl/localhost_8080/MatthewKirstyLaurenxChange4U/MoneyTransfer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="transfer" type="tns:transfer"/>

<xs:element name="transferResponse" type="tns:transferResponse"/>

<xs:complexType name="transfer">
<xs:sequence>
<xs:element name="senderName" type="xs:string" minOccurs="0"/>
<xs:element name="receiverName" type="xs:string" minOccurs="0"/>
<xs:element name="moneyOrigin" type="xs:string" minOccurs="0"/>
<xs:element name="moneyDestination" type="xs:string" minOccurs="0"/>
<xs:element name="conversionRate" type="xs:double" minOccurs="0"/>
<xs:element name="senderCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="receiverCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="amountTransferred" type="xs:double"/>
<xs:element name="amountReceived" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>